discord
python-dotenv
python-dateutil
gtts
ffmpeg-python
ffmpeg
redis
Pillow
googletrans==3.1.0a0
PyDictionary
mojang
PyNaCl
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
