<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: black;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }

    a {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Welcome to GamerBot</h1><br>
    <p>This is site is currently under development.</p>
    <a href="https://discord.com/oauth2/authorize?client_id=827342035803570216&permissions=2146774129&scope=bot" target="_blank">Invite GamerBot</a>
</div>
